/* Container for the whole forgot password page */
.forgot-password-page {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, #a0d9f4 0%, #003366 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  



.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #f5f5f5; /* Adjust as needed */
    width: 1000px;
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

/* Heading style */
.forgot-password-container h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    margin-top: 10px; /* Adjust to move the heading up */
}

/* Container for the form and image */
.forgot-password-content {
    display: flex;
    flex-direction: column; /* Arrange elements vertically */
    align-items: center;
    width: 100%;
    max-width: 600px; /* Adjust as needed */
   
    padding: 20px;
  
}

/* Image style as a background */
.forgot-password-image {
    width: 350px; /* Larger size */
    height: 350px; /* Larger size */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px; /* Space between image and text */
    box-shadow: #333;
}

/* Text style below the image */
.forgot-password-content p {
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
    
}

/* Form container style */
.forgot-password-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Form group style */
.forgot-password-form .form-group {
    margin-bottom: 20px; /* Space between form elements */
    justify-content: center;
    display:flex;
}

/* Input field style */
.forgot-password-form input[type="email"] {
    padding: 10px;
    
    border: 1px solid #4a58d9;
    border-radius: 15px;
    width: 100%; /* Full width */
    font-size: 14px;
    background-color: #f1f2fa;
    
}

/* Button style */
.forgot-password-form button {
    padding: 10px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff; /* Primary color */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

   
    
}

.forgot-password-form button:disabled {
    background-color: #6c757d; /* Disabled state color */
}

.forgot-password-form button:not(:disabled):hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}

/* Error message style */
.forgot-password-form p.error {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
}
