/* Container for the whole reset password page */
.resetPage {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, #a0d9f4 0%, #003366 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container for the reset password form */
.resetPasswordContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #f5f5f5; /* Adjust as needed */
    width: 1000px; /* Adjust as needed */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Heading style */
.resetPasswordContainer h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    margin-top: 10px; /* Adjust to move the heading up */
}

/* Container for the form and image */
.resetPasswordContent {
    display: flex;
    flex-direction: column; /* Arrange elements vertically */
    align-items: center;
    width: 100%;
    max-width: 600px; /* Adjust as needed */
    padding: 20px;
}

/* Image style as a background */
.resetPasswordImage {
    width: 350px; /* Larger size */
    height: 350px; /* Larger size */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px; /* Space between image and text */
}

/* Text style below the image */
.resetPasswordContent p {
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
}

/* Form container style */
.resetPasswordForm {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* Input field style */
.resetPasswordForm input[type="password"] {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%; /* Full width */
    margin-bottom: 15px; /* Space below the input field */
}

/* Button style */
.resetPasswordForm button {
    padding: 10px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff; /* Primary color */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px; /* Space above the button */
}

.resetPasswordForm button:disabled {
    background-color: #6c757d; /* Disabled state color */
}

.resetPasswordForm button:not(:disabled):hover {
    background-color: #0056b3; /* Darker shade for hover effect */
}

/* Error message style */
.resetPasswordForm p.error {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
}
