/* AdminLeaveTable.module.css */
.adminLeaveTableContainer {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: rgb(149, 197, 241);
  border-radius: 10px;
  margin-left: 249px;
  width: 1180px;
  height: 1000px;
}

.adminLeaveTableContainer h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.NiflaLeve{
  margin-top: 60px;
  
}

.NiflaSearching1{
  margin-left: 53px;
  padding: 6px;
  border-radius: 8px;
  border-color: rgb(40, 86, 159);
  width: 190px;
 }

.NiflaLeavetable {
  width: 1000px;
  margin-top: 50px;
  border-collapse: collapse;
  margin-top: 5px;
  margin-left: 110px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  }
  
  .NiflaLeavetable th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: rgb(23, 39, 49);
    font-size: 14px;
  }
  
  .NiflaLeavetable th {
    background-color: #bfd5eb; /* Bluish Ash */
    color: rgb(23, 39, 49);
    font-size: 14px;
    text-align: center;
  }
  
  .NiflaLeavetable td {
   text-align: center;
   padding: 10px;
   font-size: 14px;
   
  }

  .NiflaapproveButton{
    background: linear-gradient(45deg, #081a70, #1e61bf, #266cb3, #26aee9);
  }

  .NifladeclineButton{
    background-color: #dc3545;
  }




.NiflaLeavetable1 {
  width: 1000px;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 110px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: white;
  }
  
  .NiflaLeavetable1 th, .table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: rgb(23, 39, 49);
    font-size: 14px;
  }
  
  .NiflaLeavetable1 th {
    background-color: #bfd5eb; /* Bluish Ash */
    color: rgb(23, 39, 49);
    font-size: 14px;
    text-align: center;
  }
  
  .NiflaLeavetable1 td {
   text-align: center;
   padding: 10px;
   font-size: 14px;
   
   
  }



.leaveTable button:disabled {
  background-color: #ccc; /* Grey background for disabled buttons */
  cursor: not-allowed;
}

.NifladeclineButton{
  background-color: #dc3545;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 10px;
    cursor: pointer;
}

.NiflaapproveButton{  background-color: #1947a2;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.NiflagenerateReportButton{
  background: linear-gradient(45deg, #081a70, #1e61bf, #266cb3, #26aee9);
  color: white;
  border: none;
  padding: 10px 10px;
  border-radius: 10px;
  cursor: pointer;
  margin-left: 980px;
  margin-top: 10px;
}

.NiflasearchBar{
  border-radius: 10px;
  padding: 5px;
  width: 250px;
  margin-bottom: 5px;
  margin-left: 110px;
}